/* Import link to Lato font - hotsted by Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* Asterisk selector to override browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    /* Setting default font */
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: lightcoral;
}
/* Main content */
main {
    background-color: lightblue;
    /* Makes sure the content in the body will take up any surplus space and will push footer down */
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: orange;
}